* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,
h5,
p,
.list-group-item {
  color: rgba(255, 255, 255, 0.75) !important;
}

.fa-2xl {
  font-size: 5em !important;
}

.bg-black {
  background-color: #000000 !important;
}

.background-gradient {
  background: linear-gradient(
    90deg,
    rgba(172, 88, 251, 1) 0%,
    rgba(172, 88, 251, 1) 32%,
    rgba(34, 188, 232, 1) 66%,
    rgba(38, 215, 203, 1) 100%
  ) !important;
}

.btn-gradient {
  background: linear-gradient(
    90deg,
    rgba(172, 88, 251, 1) 0%,
    rgba(172, 88, 251, 1) 32%,
    rgba(34, 188, 232, 1) 66%,
    rgba(38, 215, 203, 1) 100%
  ) !important;
  color: #000000 !important;
}

.btn-black {
  background-color: #000 !important;
  color: rgba(255, 255, 255, 0.75) !important;
}

.btn-black:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  color: #000 !important;
}

.btn-gradient:hover {
  color: rgba(255, 255, 255, 0.75) !important;
  border: 1px solid #000000 !important;
}

.br-20 {
  border-radius: 20px !important;
}

.br-40 {
  border-radius: 40px !important;
}

.br-circle {
  border-radius: 240px;
}

.bt-40 {
  border-top-right-radius: 40px !important;
  border-top-left-radius: 40px !important;
}

.bb-40 {
  border-bottom-right-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
}

.navbar {
  border-radius: 0 0 20px 20px;
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #9e62fd;
  transition: 0.3s;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.banner > .container-fluid {
  padding: 0px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
}

.hr-cyan {
  border-top: 1px solid #82f5f4;
}

.team-card-text {
  color: #000 !important;
}

.svg-inline--fa {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  .pb-sm {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .pb-md {
    padding-bottom: 20px;
  }
}
