* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bg-darkgreen {
  background-color: #235d6a;
}

.navbar {
  border-radius: 0 0 20px 20px;
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #009688;
  transition: 0.3s;
}

.navbar ul li a:hover::after {
  width: 100%;
}
